@model WebStore.Domain.ViewModels.CatalogViewModel
@{
    ViewData["Title"] = "Каталог";
}

<partial name="Partial/_Advertisement"/>
<section>
    <div class="container">
        <div class="row">
            <partial name="Partial/_LeftSidebar" />
            <div class="col-sm-9 padding-right">
                <div id="catalog-items-conatiner">
                    <partial name="Partial/_FeaturedItems" model="@Model.Products" />
                </div>

                <paging page-model="Model.PageViewModel"
                        page-action="Index"
                        page-url-SectionId="@Model.CategoryId"
                        page-url-BrandId="@Model.BrandId">
                </paging>
            </div>
        </div>
    </div>
</section>