@model WebStore.Domain.ViewModels.CartViewModel

@{
    var product_count = Model.ItemsCount > 0 ? Model.ItemsCount : (int?)null;
}

<li>
    <a asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-cart"></i> Корзина</a> @product_count
</li>