@{
    ViewData["Title"] = "Страница не найдена";
}

<div class="container text-center">
    <div class="logo-404">
        <a asp-controller="Home" asp-action="Index">
            <img src="~/images/home/logo.png" alt=""/>
        </a>
    </div>
    <div class="content-404">
        <h1><b>@ViewData["Code"]</b> ошибка</h1>
        <h2>
            <a asp-controller="Home" asp-action="Index">Bring me back Home</a>
        </h2>
    </div>
</div>