@model WebStore.Models.CatalogViewModel
@{
    ViewData["Title"] = "Каталог";
}

@await Html.PartialAsync("_AdvertisementPartial")

<section>
    <div class="container">
        <div class="row">
            @await Html.PartialAsync("_LeftSidebarPartial")
            <div class="col-sm-9 padding-right">
                @await Html.PartialAsync("_FeaturedItemsPartial", Model.Products)
            </div>
        </div>
    </div>
</section>