@{
    ViewData["Title"] = "Главная";
}

@await Html.PartialAsync("_SliderPartial")

<section>
    <div class="container">
        <div class="row">
            @await Html.PartialAsync("_LeftSidebarPartial")

            <div class="col-sm-9 padding-right">
                @*await Html.PartialAsync("_FeaturesItemsPartial")*@

                @await Html.PartialAsync("_CategoryTabPartial")

                @await Html.PartialAsync("_RecommendedItemsPartial")
            </div>
        </div>
    </div>
</section>