<ul class="nav navbar-nav">
    <li>
        <a asp-controller="Profile" asp-action="Wishlist"><i class="fa fa-star"></i> Избранное</a>
    </li>
    <li>
        <a asp-controller="Profile" asp-action="Checkout"><i class="fa fa-crosshairs"></i> Оформить заказ</a>
    </li>
    <li>
        <a asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-cart"></i> Корзина</a>
    </li>
    <vc:sign-in-sign-out/>
</ul>